@model TestCaseManager.Models.TestCase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestCase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority.PriorityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.PriorityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.SectionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.SectionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestCaseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCaseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.References)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.References)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preconditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preconditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestCaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
